<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="1 day" />
    <meta name="keywords" content="boardgame, boardgames, bgg, boardgamegeek, board, game, boardgame deals, boardgame deal" />
    <meta name="description" content="An hourly updated list of the best boardgame deals that can be found, from sales to trades." />
    <meta name="rating" content="General" />
    <title>The best boardgame prices from across the web | Best Boardgame Deals</title>
  </head>
  <body>
  </body>
</html>
